@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Rajdhani:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #333;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://source.unsplash.com/random/?nature');
    background-position: center;
    background-size: cover;
   
}

.container{
    background: #000000b0;
    color: white;
    padding: 2em;
    border-radius: 25px;
    width: 100%;
    max-width: 430px;
    min-height: 420px;
    margin: 10px;
    border-style: double;
    border-color: #000000b0;
}
.search{
    width: 80%;
    margin: 10px 0 75px 0;
    position: relative;
    
}
.search input{
    width: 100%;
    min-height: 50px;
    padding: 10px 0 10px 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border-radius: 15px;
    color: whitesmoke;
    font-size: clamp(20%, 10% + 15px, 105%);
    font-weight: 500;

    text-transform: capitalize;
    
 
 
}
.search input:focus{
    outline: 3px solid rgb(84, 84, 86);
    
}

button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
   
   background: transparent;
    cursor: pointer;
    
}
.weather{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 105%;
    text-transform: capitalize;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    text-align: left;
}
.weather.loading::after{
    visibility: visible;
    content: "Loading...";
    color: white;
    

}

.weather .latAndlong{
    font-size: 13px;
      
}
.weather .temp-icon-container{
    display: flex;
   align-items: center;
   justify-content: center;
    gap: .5rem;
    
    
    
}
.temp-icon-container .temp{
    order: -1;
}
.temp-icon-container .icon{
    min-height: 50px;
    max-width: 50px;
    order: 1;
    margin-bottom: 3px;
   
   
}

